{% extends 'padre.html' %}

{% load static %}


{% block titulo %}
        <title>Optieyes - Sobre mi</title>
{% endblock titulo %}


{% block contenido %}

<br>
<center>
<h1>Joel Díaz Jirak</h1>
<h5>(Más de back que de front)</h5>
<br>
<p>
    Mi nombre es Joel, tengo 30 años y estoy incursionando en el mundo de la programación a través de la plataforma de CODERHOUSE.
    Si bien recién estoy dando mis primeros pasos para convertirme en un programador hecho y derecho, soy una persona muy dedicada y trabajadora, sobretodo 
    a la hora de tener que buscarle solución a los errores que van apareciendo cada vez que modificamos algo de la manera incorrecta.
    <br>Me gusta salir con amigos, mirar deportes y por supuesto, la programación!
  </p>
</center>
<br>

{% endblock contenido %}