{% extends 'padre.html' %}

{% load static %}


{% block titulo %}
        <title>Optieyes</title>
{% endblock titulo %}


{% block contenido %}
    <br>
    <b><h5>Agregar anteojos convencionales:</b></h5><br>
    <form action='/app1/armazones-formulario/' method="POST">{% csrf_token %}

        <p>Armazón: <input type="text" name="marca"/></p>

        <p>Color: <input type="text" name="color"/></p>

        <p>Material: <input type="text" name="material"/></p>

        <p>Tamaño: <input type="text" name="tamagno"/></p>

        <p>Precio: <input type="number" name="precio"/></p>

        <p>Código: <input type="number" name="codigo"/></p>

        <input type="submit" value="Enviar"/>


    </form>
    <br>
{% endblock contenido %}