{% extends 'padre.html' %}

{% load static %}


{% block titulo %}
        <title>Optieyes - Lentes</title>
{% endblock titulo %}


{% block contenido %}
<br>
<ul>
        
    {% for lente in lentes %}
    <a href="{% url 'Detalle_Lente' lente.id %}">
        <li style="color: gray">Lente {{lente.marca}}, {{lente.material}} {{lente.color}}, {{lente.graduacion}} de graduación - ${{lente.precio}}</li>
    </a>
        <div>
            <button>
                <a href="{% url 'Editar_Lentes' lente.id %}">Editar</a>
            </button>
            <form action="{% url 'Elimina_Lentes' lente.id %}" method="POST" onclick="return confirm('¿Seguro que quiere eliminar?')"Delete>{% csrf_token %}
                <button type="submit"> Eliminar </button>
            </form>
        </div>

    {% endfor %}
        
</ul>

<a href="{% url 'Lentes_Formulario' %}"><button>Agregar lentes</button></a>
<br>
<br>
{% endblock contenido %}