{% extends 'padre.html' %}

{% load static %}


{% block titulo %}
        <title>Optieyes - Preguntas frecuentes</title>
{% endblock titulo %}


{% block contenido %}

        <br>
        <h5><b>¿Cuándo llega mi pedido?</b></h5>
        <h6 style="color: gray">7 días hábiles</h6><br>
        <h5><b>¿Qué formas de pago aceptan?</b></h5>
        <h6 style="color: gray">Contamos con 3, 6 y hasta 12 cuotas sin interés o transferencia bancaria/efectivo</h6><br>
        <h5><b>¿Cómo son los envíos?</b></h5>
        <h6 style="color: gray"> <b> Capital Federal y algunas zonas de Amba: </b> <br>
                Envios superiores a $6000 sin cargo a domicilio. <br><br>
                <b> Interior: </b> <br>
                Realizamos envíos a todo el país. <br>
                Si la compra supera los 6000 el envío es sin cargo.</h6><br>
        <h5><b>¿Si compro unos anteojos de receta la graduación está incluída con el precio?</b></h5>
        <h6 style="color: gray">Podría enviarnos una foto de la receta para confirmar que sean de stock. <br>
                En caso de que tú graduación sea de stock, los cristales orgánicos blancos están incluidos (sin cargo).</h6><br>
        <h5><b>¿Compré unos anteojos de receta pero no sé mi graduación?</b></h5>
        <h6 style="color: gray">En caso de no contar con receta y querer saber tu graduación o cambiar la que ya venís usando. 
                Contamos con autofractometros para poder hacerlo y así podrás realizar tu nuevo pedido de anteojos o lentes de contacto.</h6><br>
        <h5><b>¿Hay stock disponible?</b></h5>
        <h6 style="color: gray">Todo lo que está publicado tiene stock</h6><br>
        <h5><b>¿Los productos son de calidad?</b></h5>
        <h6 style="color: gray">Los productos de la mejor calidad los encontrás en <b>OPTIEYES</b></h6><br>

{% endblock contenido %}
    