{% extends 'padre.html' %}

{% load static %}


{% block titulo %}
        <title>Optieyes - Anteojos de sol</title>
{% endblock titulo %}


{% block contenido %}
<br>
<ul>
        
    {% for lentesol in anteojos_sol %}
    <a href="{% url 'Detalle_Lente_Sol' lentesol.id %}">
        <li style="color: brown">Anteojos de sol {{lentesol.marca}} de armazón color {{lentesol.color_armazon}} y lente color {{lentesol.color_lente}}, de {{lentesol.material}} para {{lentesol.tamagno}} - ${{lentesol.precio}}</li>
    </a>

    {% endfor %}
        
</ul>
<br>
<br>
{% endblock contenido %}